@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color:black;
    margin: auto;
}

h1 {
    text-align: center;
    color:black;
    font-size: 45px;
    margin: auto;
}

form {
    border: 1px solid rgba(0, 0, 0);
    padding: 3rem;
    border-radius: 0.5rem;
    display: grid;
    background-color: lightgray;
    margin: 10%;
    position: ;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin:  0%;
    border: 1px solid rgba(0, 0, 0);
    padding: 0%;
    background-color: lightgray;
}

legend {
    padding: 0.5rem;
    color:black;
    font-size: 22px;
}

label, input, button, select, textarea {
    font-family: Monserrat, Nunito;
}

label {
    text-align: right;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 16px;
    width: 100%;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

