@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');
html {
  font-family: Arial, "Times New Roman", Monserrat, Nunito;
}

:root {

    --primary-color: #28666e  ;
    --secondary-color: #B5B682 ;
    --accent1-color: #FEDC97;
    --accent2-color: #033F63;

    --heading-font: "Montserrat";
  --paragraph-font: Nunito, Helvetica, sans-serif;
  --headline-font:"Times New Roman", Monserrat, Nunito;

  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

body {
    max-width: 960px;
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
    font-size: 18px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

header {
    padding: 20px;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav  {
    list-style-type: none;
    display: flex;
}
nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 35px;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}