* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    color: black;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color:rgb(14, 183, 240);
    border-bottom: 1px solid #000;
}

.grid {
    display: grid;
    align-items: center;
}
main {
    max-width: 840px;
    grid-column: 2;
    margin: 1rem;
}

aside  {
    margin: 20rem; 
    text-align: center;
    position:relative;
    grid-column: 1;
    grid-row: 1;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position:relative;
    top:auto;
    left:auto;
}

main img {
    width: 150px;
    height: 200px;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: solid rgb(14, 183, 240);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

.box-2 {
    border: solid lightblue;
    margin: 2%;
    padding: 2%;
    background-color: gainsboro;

}

nav {
    background-color: rgb(14, 183, 240);
    padding: 1rem;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

nav a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

